streamlit
duckdb
pandas
numpy
scikit-learn
flaml[automl]
matplotlib
plotly
joblib
fastapi
uvicorn
pydantic
python-dotenv
openpyxl
crewai
crewai-tools
requests
litellm
chromadb
pypdf
python-docx
markdown

pywin32
deepeval
